.all-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.cards-section {
    margin: 50px;
    font-size: 40px;
}

#message:hover {
    background:#8ccd23;
}
