.new-board-form {
    display: grid;
    grid-template-rows: auto auto;
    gap: 8px;
}

label {
    padding: 5px;
    font-size: 25px;
}

#title:hover {
    background:#8ccd23;
}
#owner:hover {
    background:#8ccd23;
}
button {
    /* background-color: white; */
}

#message.preview {
    font-size: 16px;
    font-weight: italic;
    /* color: black; */
}
