.App {
  text-align: center;
  color: #1D267D;
  font-family: 'Waiting for the Sunrise';
  background: linear-gradient(to top, #2A2F4F 0%, #917FB3 28%, #E5BEEC 100%);
}

* {
  cursor: url(https://cur.cursors-4u.net/toons/too-8/too731.cur), auto !important;
}

.image {
  height: 440px;
  width: stretch;
}

h1 {
  font-size: 50px;
  text-shadow: 1px 1px #2A2F4F;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.bottom-grid {
  color: #b27dbb;
}

.board-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow: scroll;
  font-size: 15px;
  margin: 10px;
}

.board-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow: scroll;
  font-size: 15px;
  margin: 10px;
  border: 3px solid #1D267D;
  background-color: #D4ADFC;
}

#new-board-form {
  margin: 10px;
  padding: 10px;
  border: 2px solid;
  background-color: white;
}