.App {
  font-family: 'Waiting for the Sunrise';
  background: rgb(145, 127, 179);
  min-height: 100vh;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.board-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow: scroll;
  font-size: 15px;
  margin: 10px;
  border: 3px solid #1D267D;
  background-color: #D4ADFC;
}

#new-board-form {
  margin: 10px;
  padding: 10px;
  border: 2px solid;
  background-color: white;
}